<footer class="main-footer">
    <h2 class="titulo">ATENCION AL CLIENTE:</h2>
    <p>0810-555-8769</p>
    <p>consultas @dhventure.com.ar</p>
    <p>whatsApp+54112353-0953</p>
    <h2 class="titulo">DHVENTURE PICKUP POINT:</h2>
    <p>Buenos Aires: Lunes a Viernes de 09 a 18</p>
    <form class="formulario" action="" method="post">
    <label class="texto-email" for="email">Suscribite y recibi las mejores promos</label>
    <input class="cuadro-email" type="email" name="email" placeholder="direccion de email...">

    <ul type="none" class="icon-footer">
        <li class="li-instagram"><a class="instagram" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="li-whatsapp"><a class="whatsapp" href="https://wa.me" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
        <li class="li-facebook"><a class="facebook" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
    </ul>
        </form>

    <p class="copyright">copyright 2023-DHVenture.Buenos Aires, Argentina</p>
</footer>