<header class="main-header">
    <a class="a-logo" href="">
    <img class="logo" src="/images/logoLetras 1.png" alt="">
    </a>
    <div class="nav-header">
        <form action="" method="get" class="contenedor">
        <input class="barra" type="text" placeholder="Buscar productos, marcas">
        <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <!-- MENU DE OPCIONES  -->
    <a class="menu-header" href=""><i class="fa-solid fa-bars"></i></a>

<h2 class="bienvenido">bienvenido/a usuario</h2>
<li class="li-carrito" type="none"><a class="ico-carrito" href="/carrito"><i class="fa-sharp fa-solid fa-cart-arrow-down"></a></i></li>
<li class="li-corazon" type="none"><a class="ico-corazon" href=""><i class="fa-regular fa-heart"></a></i></li>   

<nav class="main-nav">
<ul class="li-nav" type="none">
    <li class="text-nav"><a href="/productos">Notbooks</a></li>
    <li class="text-nav"><a href="/productos">Placas de video</a></li>
    <li class="text-nav"><a href="/productos">Monitores</a></li>
    <li class="text-nav"><a href="/productos">Micros</a></li>
    <li class="text-nav"><a href="/productos">PC de escritorio</a></li>
</ul>
</nav>
</header>