<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DH-VENTURE</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="main-header">
<a href="#"><i class="fa-solid fa-bars"></i>
</a>
<nav class="nav-header">
    
      <li><a class="serch" href="/buscar">Buscar</a><i class="fa-solid fa-magnifying-glass"></i></li>
      
      <p>bienvenido/a usuario</p>
      
      <li><a class="" href=""></a><i class="fa-sharp fa-solid fa-cart-arrow-down"></i></li>
      <li><a class="" href=""></a><i class="fa-regular fa-heart"></i></li>
</nav>
    
<nav class="main-nav">
    <ul>
        <li><a href="">Notbooks</a></li>
        <li><a href="">Placas de video</a></li>
        <li><a href="">Monitores</a></li>
        <li><a href="">Micros</a></li>
        <li><a href="">PC de escritorio</a></li>
    </ul>
</nav>

    </header>
    <footer class="main-footer">
        <h2>ATENCION AL CLIENTE:</h2>
        <p>0810-555-8769</p>
        <p>consultas @dhventure.com.ar</p>
        <p>whatsApp+54112353-0953</p>
        <h2>DHVENTURE PICKUP POINT:</h2>
        <p>Buenos Aires: Lunes a Viernes de 09 a 18</p>
         <h3>Suscribite y recibi las mejores promos</h3>
         <i class="fa-brands fa-instagram"></i>
         <i class="fa-brands fa-whatsapp"></i>
         <i class="fa-brands fa-facebook"></i>
         <p>copyright 2023-DHVenture.Buenos Aires, Argentina</p>
    </footer>
</body>
</html>