<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body class="Body-Login">
    <section class="formulario">
        <div class="cuadrado-registro-Login">
        <div class="Dh-Venture-logo-login"> 
            <img src="/images/logoLetras 1.png">
        
        </div> 
        <div class="iniciar-sesion">
            <h2>Iniciar Sesión</h2>

        </div>
        <form action="/Acceso" method="post">
    
    
        <input type="email" id="email" name="email" placeholder="Correo Electrónico*" required>
        <h6 class="Campo-Errores-de-Registro"> Campo Obligatorio*</h6>
    
        <input type="password" id="password" name="password" placeholder="Contraseña*" required>
        <h6 class="Campo-Errores-de-Registro"> Campo Obligatorio*</h6>
    
        <div class="Recuerdame">
        <label for="recordarCuenta">Recuerdame</label>
        <input class="checkbox"  type="checkbox" id="recuerdame" name="recuerdame">
        
    </div>

        <button class="Boton-Ingresar" type="submit">Ingresar</button>
    </form>
    <div class="Register">
    <a href="/register"> ¿Todavia no tenes una Cuenta? </a>
    </div>
        </div>
    </section>
</body>
</html>