header .ico-volver{
    color:black
}
main.main-cart img.anuncio-cart{display: none;}

 ul .ul-main-cart{display: none;}
 .main-cart{}
 .ul-main-cart{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     background-color: #efefef;
     width: 100%;
     padding: 15px 0px 10px 0px;
     flex-direction: row;
     margin: 0px;
 }
 .li-main-cart{
     width: 20%;
 }
 .li-main a{}
 .anun-1-cart{
     width: 100%;
     background-color: white;
     height: 100%;
     border: 2px solid #162a6d;
 }
 .anuncio-cart{
     width: 25%;
     height: 25%;
 }
 
 .ul-marcas-cart{
   padding: 0px;
    display: none;
    }

 .marcas-cart{
       
 }
 ul li a.img-marcas-cart{
    
 }
 .img-cart{
    width: 100%;
   
     }
 
 .ul2-main-cart{
     display: none;
 }
 .li2-main-cart{}
 .li2-main-cart a{}
 .anun-2-cart{}
 .productos-cart{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }
 
 .seccion-cart{
     margin-top: 10px;
     text-align: center;
     display: flex;
     flex-direction: row;
     align-items: center;
     background-color: #f2f3fb;
     width: 65%;
     padding: 10px;
     justify-content: space-around;
 }
  section img.img-seccion-cart{
     width: 30%;
 }
 .descripcion-cart{
 }
 .categoria-cart{
     font-size: 10px;
 }
 .productos-cart{
     font-size: 10px;
 }
 .precio-cart{
     font-size: 15px;
 }

 .boton-agregar-carrito{
    font-size: 15px;
 }
 
 @media (min-width: 426px){  
 .main-cart{}
 .ul-main-cart{}
 .li-main-cart{
     width: 22%;
 }
 .li-main-cart a{}
 .anun-1-cart{}}
 .anuncio-cart{}
 .ul-marcas-cart{}
 .marcas-cart{}
 .img-marcas-cart{}
 .img-cart{}
 .ul2-main-cart{
     display: none;
 }
 .li2-main-cart{}
 .li2-main-cart a{}
 .anun-2-cart{}
 .productos-cart{}
 .seccion-cart{}
 .img-seccion-cart{
     width: 80%;
 }
 .descripcion-cart{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center;
 }
 .categoria-cart{
     font-size: 15px;
     margin: 0px;
     line-height: 40px;
 }
 .productos-cart{
     font-size: 16px;
     line-height: 25px;
     margin: 0px;
     line-height: 40px;
 }
 .precio-cart{
     font-size: 25px;
     margin: 0px;
     line-height: 40px;
 }
 .boton-agregar-carrito{}
 
 @media (min-width: 769px){
 .main-cart{
 }
 .ul-main-cart{}
 .li-main-cart{}
 .li-main-cart a{}
 .anun-1-cart{}
 .anuncio-cart{}
 .ul-marcas-cart{
  
 }
 .marcas-cart{}
 .img-marcas-cart{
    
 }
 
 }
 .ul2-main-cart{
     display: none;
     
 }
 .li2-main-cart{
     width: 22%;
 }
 .li2-main-cart a{display: inline-block;width: 100%;}
 .anun-2-cart{
     width: 100%;
     background-color: #192ddd;
     padding: 0px 10px;
 }
 .productos-cart{
     
 }
 .seccion-cart{}
 .img-seccion-cart{
    width: 90%;
 }
 .descripcion-cart{
 }
 .categoria-cart{}
 .productos-cart{}
 .precio-cart{}
 
 .boton-agregar-carrito{
    width: 130px;
 }